.list-group .list-group-item {
    background-color: black;
    color:white;
}
.list-group .list-group-item .fa-check {
    color: black;
}

.list-group .list-group-item a {
    text-decoration: none;
    color: white
}

.wd-search-bar {
    border-radius: 30px;
    height: 100%;
    padding : 10px 40px;
    position: relative;
    width: 75%;
    border: none;
    background-color: rgb(110, 118, 125, 0.3);
    font-weight: 600;
}

img {
    width: 100%;
    height: auto
}

.nav .nav-item > a {
    text-decoration: none;
    color: rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px;
    font-weight: 700;
}

.nav .nav-item > a.active {
    color: white;
    border-bottom: 4px solid rgb(29, 161, 242);
    border-radius: 2px;
}